.top_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.location-icon {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $darker_location_background;
  @include basic_inset_shadow;
  padding-top: 15px;
  padding-bottom: 15px;
  @include text_font;
}

.location-icon i {
  margin-right: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_background;
  margin-top: 0px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  @include text_font;
  h2 {
    padding-bottom: 20px;
  }
  p {
    text-align: center;
  }
  @media screen and (min-width: 928px) {
    height: 430px;
    background-color: $light_background;
    background-color: #e0dde0;
    @include basic_inset_shadow;
    margin-left: 40px;
    margin-top: 20px;
    padding-right: 30px;
    h2 {
      margin-left: 30px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 50px;
    }
  }
}

.instructions {
  @include text_font;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
  h2 {
    padding-left: 20px;
  }
  .number {
    justify-content: center;
    background-color: $number_background;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    margin-left: -40px;
    color: white;
  }
  @media screen and (min-width: 928px) {
    height: 450px;
    margin-left: 300px;
    background-color: $light_background;
    background-color: $darker_location_background;
    @include basic_inset_shadow;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.choose {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: $light_background;
  @include box_shadow;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-weight: 700;
  @include text_font;
  .choose_icon {
    color: $choose_icon_main;
    margin-right: 20px;
    font-size: larger;
  }
}

.create {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: $light_background;
  @include box_shadow;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-weight: 700;
  @include text_font;
  .create_icon {
    color: $choose_icon_main;
    margin-right: 20px;
    font-size: larger;
  }
}

.go {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: $colored_background;
  @include box_shadow;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-weight: 700;
  @include text_font;
  .go_icon {
    color: $choose_icon_colored;
    margin-right: 20px;
    font-size: larger;
  }
}

@media screen and (min-width: 928px) {
  .middle_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restaurants {
  background-color: $light_background;
  h2 {
    padding-top: 20px;
    padding-left: 20px;
    @include text_font;
  }
  .restaurant_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_card {
    position: relative;
    img {
      width: 320px;
      height: 250px;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
  }
  .new_icon {
    align-items: center;
    background-color: $new_icon;

    @include text_font;
    width: 60px;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 25px;
    padding-left: 30px;
  }
  .restaurants_card_body {
    position: relative;
    width: 320px;
    @include box_shadow;
    transition: 0.3s;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    @include text_font;
    margin-bottom: 40px;
    margin-top: -20px;
  }
  h3 {
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  p {
    padding-left: 20px;
    padding-bottom: 15px;
  }
  .heart_icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 65px;
    margin-left: 280px;
    font-size: x-large;
    margin-top: -30px;
  }
  .solid_heart_icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 65px;
    margin-left: 280px;
    font-size: x-large;
    margin-top: -30px;
    color: #9356dc;
  }
  @media screen and (min-width: 928px) {
    .restaurant_wrap {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      @include basic_inset_shadow;
      padding-top: 40px;
    }
    .restaurants_card_body {
      width: 400px;
      margin-bottom: 50px;
    }
    .restaurants_card img {
      width: 400px;
    }
    .solid_heart_icon {
      position: absolute;
      top: 70px;
      margin-left: 350px;
      color: $gradient_background;
    }
    .heart_icon {
      position: absolute;
      top: 70px;
      margin-left: 350px;
    }
    h2 {
      text-align: center;
    }
  }
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  .foot_image img {
    color: white;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    @include title_font;
  }
  li {
    @include text_font;
    list-style-type: none;
    padding-bottom: 20px;
  }
  .cutlery li {
    margin-left: 40px;
    margin-top: -20px;
    padding-bottom: 20px;
  }
  .hands li {
    margin-left: 40px;
    margin-top: -20px;
    padding-bottom: 20px;
  }
}

.bastille_menu {
  @include text_font;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
  background-color: $light_background;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  h2 {
    padding-left: 20px;
    @include title_font;
  }
  h4 {
    font-weight: 700;
  }
  h3 {
    margin-left: 20px;
  }
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heart_icon {
    margin-left: 300px;
    font-size: larger;
  }
  .citrus_squid {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    @include text_font;
  }
  .veg_soup {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .onion_soup {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .scallops {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .canard {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .game {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .ice_cream {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .cake {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
  .napolean {
    width: 80%;
    background-color: white;
    @include box_shadow;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
    @include text_font;
  }
}
