header {
  img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    @include title_font;
  }
}
