.search-bar__button {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-weight: 700;
    height: 55px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 45px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    cursor: pointer;
    background-image: $gradient_background; 
    @include box_shadow;
    @media screen and (min-width: 928px) {
        margin-top: 60px;
    }
    &:hover {
        background-image: $gradient_background_light;
    }
}

.bastille_menu .search-bar__button {
    margin-top: 50px;
    margin-left: 50px;
}