.search-bar__button {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-weight: 700;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    margin-top: 50px
    margin-bottom: 30px;
}
