$light_background: #f8f5f4;

$colored_background:#ece3fa;

$gradient-background: linear-gradient(to top, #9356DC, #FF79DA);

$new-icon: #99e2d0;

$darker_location_background: #e0dde0;

$number_background: #9356dc;

$choose_icon_main: darkgray;

$choose_icon_colored: #9356dc;
